<div class="about-root">
    <div class="jumbotron text-center">
        <h1>Empowering Others</h1>
        <h4>Direct Aid For Homeless is a 501(c)(3) nonprofit organization, with the mission to build low barrier
            shelters for people experiencing homelessness. Our current outreach program provides resource cards, food,
            water, clothing, shoes and hygiene items to people in need. </h4>
    </div>
    <blockquote>
        <p class="quotation">
            Be not afraid of <strong>greatness</strong>. Some are born great, some achieve <strong>greatness</strong>,
            and
            others have <strong>greatness</strong> thrust upon them
        </p>
        <footer>— William Shakespeare, Twelfth Night</footer>
    </blockquote>
    <br>
    <div class="about-block">
        <h2>This is us!</h2>
        <div class="card">
            <img class="card-img-top" src="assets/images/michelle.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Michelle Patterson</h5>
                <p class="card-text">Has a background in Social Work and extensive knowledge about the shelter services
                    provided in the Phoenix metropolitan area.</p>
            </div>
        </div>
    </div>
</div>