<div class="title-bar">
   <img id="directaidforhomeless" src="assets/images/direct_logo.png"/>
</div>
<div id="root-count" class="navbar-root">
    <button [style.width]="getButtonWidth()" [class.active]="activeButton === 'Home'" (click)="handleActiveButton($event)" routerLink="/" class="navbuttons">Home</button>
    <button [style.width]="getButtonWidth()" [class.active]="activeButton === 'Volunteer'" (click)="handleActiveButton($event)" routerLink="/volunteer" class="navbuttons">Volunteer</button>
    <button [style.width]="getButtonWidth()" [class.active]="activeButton === 'About'" (click)="handleActiveButton($event)" routerLink="/about" class="navbuttons">About</button>
    <button [style.width]="getButtonWidth()" [class.active]="activeButton === 'Donate'" (click)="handleActiveButton($event)" routerLink="/donate" class="navbuttons">Donate</button>
</div>
